*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    background-image: linear-gradient(hsl(157, 46%, 84%), hsl(30, 38%, 92%));
    height: 100vh;
    overflow-y:scroll;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    box-sizing: content-box;
    /* border: 2px solid black; */
    width: 90%;
    
}
.image2
{
    display: none;
}
.image{
    margin-bottom: 0;
    
}

.image img{
    display: flexbox;
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0px 0px;
}

.text p{
    
font-family: 'Montserrat', sans-serif;
padding-bottom: 2rem;
color: rgb(194, 182, 182);
}

.text{
    background-color:  hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 0px 12px 12px;
}

.text h1{
    font-family: 'Fraunces', serif;
    font-weight: 800;
    margin-top: 10px;
}

.text p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-top: 1rem;
}



.price{
    margin-top: 2px;
}

.btn{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(41, 52, 41);
    border-radius: 10px;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
 button:hover{
    background-color:  rgb(64, 93, 64);
    color: white;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

@media screen and (min-device-width:360px) {
    body{
        display: flex;
        background-image: linear-gradient(hsl(157, 46%, 84%), hsl(30, 38%, 92%));
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container{
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        box-sizing: content-box;
        width: 90%;
        height: auto;
        margin-top: 2rem;
        
    }
    .price{
        margin-top: 2px;
        color: rgb(123, 117, 66);
    }
    .image img{
        display: flexbox;
        width: 100%;
        height: auto;
        border-radius: 12px 12px 0px 0px;
    }
}

@media screen and (max-device-width: 1080px)
and (orientation: landscape) {

    body{
        background-image: linear-gradient(var(hsl(157, 46%, 84%)), var(hsl(30, 38%, 92%)));
        height: 100%;
        width: 100%;
        overflow: scroll;
    }
     .container{
        margin-top: 1rem;
        width: 70%;

     }

     .text p{
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 14px;
        margin-top: 1rem;
    }
    .text p{
    
        font-family: 'Montserrat', sans-serif;
        padding-bottom: 2rem;
        color: rgb(167, 151, 151);
        }

    .price{
        color:  rgb(123, 117, 66);;
        font-family:  'Fraunces', serif;
    }
    .image img{
        display: flexbox;
        width: 100%;
        height: auto;
        border-radius: 12px 12px 0px 0px;
    }
  }

@media  screen and (min-device-width: 1080px) {
    body{
        background-image: linear-gradient(var(hsl(157, 46%, 84%)), var(hsl(30, 38%, 92%)));
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        overflow: scroll;
        justify-content: center;
        align-items: center;
        overflow: scroll;
        padding: 20px;
        box-sizing: border-box;
    }
    
   .container{
      display: grid;
      grid-template-columns: 50% 50%;
      height: auto;
      width: 35vw;
      border-radius: 0px;
   }
   .image
{
    display: flex;
    height: 100%;
    
}
   .image1{
    display: none;
   }
   
  .image2 {
    display: block; 
    border-radius: 0px;      
  }
  .image img{
    display: flexbox;
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0px 0px;
}
  .text{
    display: flex;
    height: 100%;
    flex-direction: column;
    border-radius: 0px;
    box-sizing: border-box;
    border-radius: 0px 12px 12px 0px;
    padding: 2rem;
  }
  .text h1{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    margin-top: 10px;
}


.text p{    
    font-family: 'Montserrat', sans-serif;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: rgb(155, 132, 132);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 3rem;
    }
  .attribution{
    display: none;
  }

  .image img{
    border-radius: 12px 0px 0px 12px;
  }

  .text p{    
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 2rem;  
    }
  .price
  {
    color: rgb(126, 122, 78);
    font-family:  'Fraunces', serif;
  }

  .btn{

    width: 90%;
    margin: auto;    
    margin-top: 3rem;
    padding: 15px;
    background-color:rgb(66, 65, 54);
    border-radius: 10px;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.text button:hover{

    background-color:  rgb(35, 50, 35);
    color: white;
    width: 90%;
    margin: auto;
    margin-top: 3rem;
    padding: 15px;
    border-radius: 10px;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

}